<h1>Liste des articles</h1>
<%= link_to 'Créer un nouveau post', new_article_path %>
<table>
  <tr>
    <th>Titre</th>
    <th>Texte</th>
    <th colspan="3"></th>
  </tr>
 
  <% @articles.each do |article| %>
    <tr>
      <td><%= article.title %></td>
      <td><%= article.text %></td>
      <td><%= link_to 'Lire', article_path(article) %></td>
      <td><%= link_to 'Editer', edit_article_path(article) %></td>
      <td><%= link_to 'Supprimer', article_path(article),
              method: :delete,
              data: { confirm: 'Etes-vous sûr ?' } %></td>
    </tr>
  <% end %>
</table>