<p>
  <strong>Titre :</strong>
  <%= @article.title %>
</p>
 
<p>
  <strong>Texte :</strong>
  <%= @article.text %>
</p>
 
<h2>Commentaires</h2>
<%= render @article.comments %>
 
<h2>Votre commentaire :</h2>
<%= render 'comments/form' %>
 
<%= link_to 'Editer article', edit_article_path(@article) %> |
<%= link_to 'Retour aux articles', articles_path %>